*{
    margin: 0px;
    padding: 0px;
}

#g{
    color: blue;
   
}

h1{
    
     font-size:200px;
     display: inline;
    
}
#o{
    color: red;
    
}

#o1{
    color: orange;
}
#l{
    color: yellow;
}
#e
{
    color: green;
}